
.login-container
{   box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.75);
    background-image: url(https://media.istockphoto.com/id/955951212/photo/blurred-background-modern-kitchen-and-dinning-room-in-house-with-bokeh-light-lifestyle-backdrop.jpg?s=612x612&w=0&k=20&c=THHBhrRhOCnD0DdfLj42JNsDuzZpC0oqp7K0EIO4B8U=);
    /* background-image: url(https://media.istockphoto.com/id/692718260/photo/opened-wooden-door-to-modern-home-exterior-as-background.jpg?s=612x612&w=0&k=20&c=Xc1pBha7V1QYZJ5ey6g4mrciD0LgRgMdcfWTVFTKf6o=); */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 84.5vh;
    

}


.container_rl {
    display: flex;
  align-items: center;

  flex-direction: column;
  height: 60vh;
  width: 30vw;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

  border-radius: 10px;
 background-color: aliceblue;
 

}

.container_rl h1{
   font-size: 30px;
   color: black;
   margin-top: 40px;
   margin-bottom: 40px;

}
.other_buttons{
margin-top: 5px;
   width: 30vh;
   display: flex;
   text-align: center;
   justify-content: space-between;
}

.w-50-login{
    display: flex;
    padding: 10px;
}
.orSignIn h4{
  
   padding: 20px;
}
.login-options{
    display: flex;
    gap: 50px;

}
.facebook-login , .twitter-login{
    background-color: black;
    color: aliceblue;
    height:40px;
    width:120px;
    cursor:pointer;
    border-radius: 10px;
}


.facebook-login p, .twitter-login p{
    padding:10px;
}

.facebook-login:hover , .twitter-login:hover{
    background-color: white;
    color: black;
    height:40px;
    width:120px;
    cursor:pointer;
    border:1px solid grey;
    border-radius: 10px;

} 

.searchhh{
   
      
        padding: 30px 20px 0px 20px;
        margin-left: 60px;
}
.searchhh input{
   
    width: 20%;
    height: 48px;
    padding: 0 38px 0 14px;
    border-radius: 12px;
    background: none;
 
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
   

    transition: border-color 0.2s;
  
  }

  .houses-title h1{
    color: black;
    padding: 30px 20px 20px 20px;
    margin-left: 60px;
    font-size: 40px;
  }