.neighborhoods {
  background-color: black;
  color: white;
  width: 100%;
  cursor: pointer;
 
}

.neighborhoods .title {
  float: right;
  margin-right: 40px;

  margin-top: 15px;

}
.title p{
  font-size: 45px;
}

.featuredd {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  z-index: 1;
}

.featuredItemm {
  margin-top: 5px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  height: 300px;
  flex: 1;
}

.featuredItemm img {
  width: 505px;
  height: 439px;
  object-fit: cover;
}

.featuredTitless {
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.featuredTitless p{
  font-size: 23px;
}
.seemore p{
 display: flex;
 justify-content: flex-end;
  padding: 20px;
  font-size: 25px;
  margin-right: 14px;
  
}
.seemore p:hover{
  color: rgb(165, 199, 241);
  display: flex;
  justify-content: flex-end;
   padding: 20px;
   font-size: 25px;

 }