.section-contact{
	width: 100%;
	min-height: 100vh;
	background-color: white;
}
.container2{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #a52a2a;
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.container-conc{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}







h1,
h2,
h3,
h4,
h5,
h6{
    padding: 0;
    margin: 0 0 15px 0;
    color: #333333;
    font-weight: 700;
}





img{
    width: 100%;
    height: auto;
}
.container-conc{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ddd;
}
.section-title-contact{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 80px;
    margin-top: 40px;
    text-align: center;
}
.section-title-contact h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0 0 5px;
    position: relative;
}
.section-title-contact h1::before{
    content: '';
    left: 0;
    position: absolute;
    height: 3px;
    right: 32%;
    background-color: #50c5fc;
    bottom: -5px;

}
.container-conc .section-title-contact h1::before{
    left: 30%;
}
.row-conc{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    
}
.column-conc{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
    
}
.team-conc{
    margin-bottom:30px ;
}
.team-conc .team-img{
    
    position: relative;
    font-size: 0;
    text-align: center;
}
.team-conc .team-img img{
    width: 160px;
    height: auto;
    border-radius: 100%;
    border: 20px solid #f3f4fa;
}

.team-conc .team-content{
    padding: 80px 20px 20px 20px;
    margin-top: -80px;
    text-align: center;
    background: #f3f4fa;
    border-radius: 10px;
}
.team-conc .team-content h2{
font-size: 25px;
font-weight: 400;
letter-spacing: 2px;
}
.team-conc .team-content h3{
    font-size: 16px;
    font-weight: 300;
}
.team-conc .team-content h4{
    font-size: 16px;
font-weight: 300;
letter-spacing: 1px;
font-style: italic;
margin-bottom: 0;
}
.team-conc .team-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.team-conc .team-social{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 35px;
    top: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .6);
    transition: all .3s;
    font-size: 0;
    z-index: 1;
    opacity: 0;
}
.team-conc:hover .team-social{
    opacity: 1;
}
.team-conc .team-social a{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right:5px ;
    padding: 11px 0 10px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    transition: all .3s;
    margin-top: 50px;
}
.team-conc .team-social a.social-tw{
    background: #00acee;
}
.team-conc .team-social a.social-fb{
    background: #3b5998;
}
.team-conc .team-social a.social-li{
    background: #0e76a8;
}
.team-conc .team-social a.social-in{
    background: #3f729b;
}
.team-conc .team-social a.social-yt{
    background: #c4302b;
}
.team-conc .team-social a:last-child{
    margin-right: 0;
}
.team-conc:hover .team-social a{
    margin-top: 0;
}
.team-conc .team-social a:hover{
    background: #222222;
}


/* Mobile Responsive */

@media (min-width: 576px){
    .container-conc{
        max-width: 540px;
    }
    .column-conc{
        max-width: 50%;
    }
}
@media (min-width: 768px){
    .container-conc{
        max-width: 720px;
    }
    .column-conc{
        max-width: 33.333333%;
    }
}
@media (min-width: 992px){
    .container-conc{
        max-width: 960px;
    }
    .column-conc{
        max-width: 25%;
    }
}
@media (min-width: 1200px){
    .container-conc{
        max-width: 1140px;
    }
   
}