
.container{
  text-align: center;
}
.description {
  background: black;
  color: #fff;

  padding: 48px 0;
  text-align: center;
  position: relative;
}
.items {
  width: 80%;
  display: grid;
  margin-left: 40px;
  grid-template-columns: 1fr 1fr;

  align-items: center;
}
.heading {
  margin-left: 50px;
}
.heading h2 {
  font-size: 2.2rem;
}
.otherheading {
  max-width: 1024px;

  justify-content: flex-end;
    gap: 90px;
    padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, auto);
}
.item h3 {
  color:rgb(165, 199, 241);
  font-size: 2rem;
}
.item span {
  font-size:15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
