.div-img-desc{
  padding: 50px;
  display: flex;
  align-items: center;
  text-align: left;
  box-shadow: 0px 0 10px rgba(150, 150, 143, 0.522);
 
}
.div-img img{
  width:735px;
  height:500px;
}
.div-desc {
  padding: 0px 50px;
}
.div-desc h1{
  font-size:36px;

}
.div-desc p{
  font-size:24px;
}
